@model escuelaMVC.Models.carrera

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durac_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durac_c)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Clave_c }) |
    @Html.ActionLink("Back to List", "Index")
</p>
